---
var year = new Date().getFullYear()

const bottomLinks = [
  {
    header: "Social",
    links: [
      {
        name: "Instagram",
        href: "https://instagram.com/",
        isExternal: true,
      },
    ],
  },
  {
    header: "Links",
    links: [
      {
        name: "Home",
        href: "/",
        isExternal: false,
      },
      {
        name: "Contacto",
        href: "/contact",
        isExternal: false,
      },
    ],
  },
];
---

<footer class="bg-fondo">
  <div class="mx-auto max-w-screen-2xl px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
      <div>
        <div class="flex justify-center sm:justify-start">
          <a href="https://carasurbarreal.com.ar/">
            <img src="/logofooter.png" alt="Cara Sur" />
          </a>
        </div>
        <p class="mt-6 max-w-md text-center leading-relaxed text-botones sm:max-w-xs sm:text-left">
          Somos cultores de la tierra y el vino. 
          Amamos la montaña, nuestro lugar. 
          Hacemos lo que amamos. 
          Lo llamamos Cara Sur.
        </p>
        <!-- <ul class="mt-8 flex justify-center gap-6 sm:justify-start md:gap-8">
          <li>
            <a href="https://www.instagram.com/carasur.barreal" rel="noreferrer" target="_blank"
              class="text-botones transition hover:text-botones/75"
            >
              <span class="sr-only">Instagram</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                  clip-rule="evenodd"></path>
              </svg>
            </a>
          </li>
        </ul> -->
      </div>

      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4 lg:col-span-2">
        <div class="text-center sm:text-left">
          <!-- <p class="text-lg font-medium text-botones">Algo</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                algo
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                algo
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                algo
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                algo
              </a>
            </li>
          </ul> -->
        </div>

        <div class="text-center sm:text-left">
          <!-- <p class="text-lg font-medium text-gray-900">Our Services</p>
          <ul class="mt-8 space-y-4 text-sm">
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                Web Development
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                Web Design
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                Marketing
              </a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
                Google Ads
              </a>
            </li>
          </ul> -->
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-gray-900">Links</p>
          <ul class="mt-8 space-y-1 text-sm">
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">Lugar</a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">Patrimomio</a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">Equipo</a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">Vinos</a>
            </li>
            <li>
              <a class="text-gray-700 transition hover:text-gray-700/75" href="/">Relatos</a>
            </li>
          </ul>
        </div>

        <div class="text-center sm:text-left">
          <p class="text-lg font-medium text-botones">Contacto</p>
          <ul class="mt-8 space-y-4 text-sm">
            
            <li>
              <a class="flex items-center justify-center gap-1.5 ltr:sm:justify-start" href="/">
              <svg
                class="h-5 w-5 text-botones"
                fill="text-botones"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"></path>
              </svg>
                <span class="flex-1 text-botones">@carasur.barreal</span>
              </a>
            </li>
            <li>
              <a class="flex items-center justify-center gap-1.5 ltr:sm:justify-start" href="mailto:carasur.barreal@gmail.com">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5 shrink-0 text-botones"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                  ></path>
                </svg>
                <span class="flex-1 text-botones">carasur.barreal@gmail.com</span>
              </a>
            </li>
            <li class="flex items-start justify-center gap-1.5 ltr:sm:justify-start">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 shrink-0 text-botones"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                ></path>
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
              </svg>
              <address class="-mt-0.5 flex-1 not-italic text-botones">
                Calle Principal, Barreal, San Juan
              </address>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="mt-12 border-t border-botones pt-6">
      <div class="text-center sm:flex sm:justify-between sm:text-left">
        <p class="text-sm text-botones">
          <span class="block sm:inline">Todos los derechos reservados.</span>
        </p>
        <p class="mt-4 text-sm text-botones sm:order-first sm:mt-0">
          Cara Sur, Argentina &copy; {year}
        </p>
      </div>
    </div>
  </div>
</footer>


