---

---

<section class="bg-[url('/Home01.jpg')] bg-cover bg-top bg-no-repeat h-80 lg:h-[800px]">
  <div class="p-8 md:p-8 lg:pe-28 lg:py-18">
    <div 
    data-aos="fade-left"
    data-aos-offset="300"
    class="text-center sm:text-right">
      <h1 class="font-serif text-white text-2xl md:mt-60 md:block md:text-3xl md:leading-relaxed">
        <span class="block">Somos cultores de la <span class="text-4xl md:text-5xl">tierra</span> y el 
        <span class="text-4xl md:text-5xl">vino</span>.</span>
        <span class="block">Amamos la <span class="text-4xl md:text-5xl">montaña</span>, nuestro lugar.</span>
        <span class="block">Hacemos lo que <span class="text-4xl md:text-5xl">amamos</span>.</span>
        <span class="block">Lo llamamos <span class="text-4xl md:text-5xl">Cara Sur</span>.</span>
      </h1>
    </div>
  </div>
</section>
