---
const links = [
  {
    name: 'LUGAR',
    href: '/lugar',
  },
  {
    name: 'PATRIMONIO',
    href: '/patimonio',
  },
  {
    name: 'EQUIPO',
    href: '/equipo',
  },
  {
    name: 'VINOS',
    href: '/vinos',
  },
  {
    name: 'RELATOS',
    href: '/relatos',
  },
  {
    name: 'CONTACTO',
    href: '/contacto',
  },
];
---
<nav class="bg-fondo dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-8">
    <a href="https://carasurbarreal.com.ar/" class="flex items-center">
        <img src="/logoheader.png" class="h-8 mr-3" alt="Cara Sur Logo"/>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-botones md:hidden hover:bg-fondo focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Abrir menu principal</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 bg-fondo md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-fondo dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        {
          links.map((link) => (
            <li>
              <a href={link.href} class="block py-2 pl-3 pr-4 text-botones bg-fondo md:bg-fondo md:text-botones md:p-0 dark:text-white md:dark:text-white hover:ring-offset-4 ring-offset-fondo hover:ring-2 ring-current" aria-current="page">{link.name}</a>
            </li>
            ))
        }
      </ul>
    </div>
  </div>
</nav>
